@use 'sass:color';
@use '../../styles' as *;

.button {
    border: none;
    border-radius: $border-radius-xlarge;
    box-shadow: $box-shadow-normal;
    transition: background-color $transition-normal-quick;

    &:hover {
        cursor: pointer;
    }

    // Variants
    &.primary {
        background-color: $color-primary;
        color: $color-on-primary;

        &:hover {
            background-color: color.adjust($color-primary, $lightness: 10%);
        }
    }

    &.secondary {
        background-color: $color-secondary;
        color: $color-on-secondary;

        &:hover {
            background-color: color.adjust($color-secondary, $lightness: 10%);
        }
    }

    &.danger {
        background-color: $color-danger;
        color: $color-on-danger;

        &:hover {
            background-color: color.adjust($color-danger, $lightness: 10%);
        }
    }

    &.blended {
        background-color: transparent;
        color: $color-on-background;
    }

    &.remove-decoration {
        border-radius: 0;
    }

    // Sizes
    &.small {
        font-size: $font-size-small;
        padding: $padding-small $padding-small;
    }

    &.medium {
        font-size: $font-size-medium;
        padding: $padding-small $padding-medium;
    }

    &.large {
        font-size: $font-size-large;
        padding: $padding-medium $padding-large;
    }
}
