// Colors
$color-background: #101010;
$color-on-background: #F0F0F0;

$color-primary: #0033a3;
$color-on-primary: #FFFFFF;

$color-secondary: #f59a00;
$color-on-secondary: #FFFFFF;

$color-danger: #D32F2F;
$color-on-danger: #FFFFFF;

$color-almost-transparent: #F0F0F010;

// Spacing
$padding-small: 0.5rem;
$padding-medium: 1rem;
$padding-large: 1.5rem;
$padding-xlarge: 2rem;

// Fonts
$font-size-xsmall: 0.75rem;
$font-size-small: 0.875rem;
$font-size-medium: 1rem;
$font-size-large: 1.25rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 2rem;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Borders
$border-radius-small: 0.25rem;
$border-radius-medium: 0.5rem;
$border-radius-large: 1rem;
$border-radius-xlarge: 1.5rem;

// Box shadows
$box-shadow-normal: 0 0 2px 2px $color-almost-transparent;

// Transitions
$transition-normal-quick: 150ms;
$transition-normal-slow: 400ms ease-out;
